@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul{
  padding: 0;
}
ul li{
  list-style: none;
  padding: 0;
}
ul li a {
  text-decoration: none;
  color: #aaa;
}
.header{
  display: flex;
  justify-content:space-between ;
  padding: 0.8rem;
}
.content{
  text-align: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 1.1rem;
}
.buttons{
  /* margin-top: 10px; */
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.footer{
  display: flex;
  justify-content:space-between ;
  padding: 1.1rem;
  background: #eee;
}
.left-links,.right-links{
  display: flex;
  /* justify-content: space-evenly; */
  gap: 8px;
}